
#card-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#developer-card {
  width: 21rem;
  border-radius: 20px;
}

#team-footer {
  content: " ";
  background-color: #e63c3c;
  display: block;
  width: 100%;
  height: 50vh;
  transform: skew(0deg, -7deg);
  z-index: -1;
  position: absolute;
  margin-top: -340px;
}

#meetTheTeamFooter {
  height: 30vh;
  background-color: #e63c3c;
}


/* .row > * {
  padding-left: 0px;
  padding-right: 0px;
} */
.card-img-top {
  border-radius: 20px;
}

.card-body h5 {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  #card-container {
    height: 100%;
  }

  #dev-cards {
    margin-top: 20px;
  }
}
