#header-filter {
  background-color: whitesmoke;
  height: 100px;
  display: flex;
  align-items: center;
}

#display-card-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#text-developers-search-box {
  border-color: #ced4da; /* default B5 color or set your own color*/
  /* border: none !important;  */
  outline: none !important;
  box-shadow: none !important;
}

/* JOBSEEKER CARDS STYLE  */


#employer-card-header {
  text-align: end;
  color: white;
  font-size: 14px;
  border-top-left-radius: 2em;
  background-color: #f27a7a;
}

#dev-card-title {
  font-size: 16px;
  padding: 0, 4px;
  padding-top: 9px;
}

#dev-card-location {
  font-size: 13px;
  padding: 0, 4px;
  color: grey;
}

.dev-card-skillset {
  color: white;
}

.dev-card-skillset a {
  background-color: grey;
  padding: 4px;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 12px;
}

.btn-view-more-job {
  width: 100%;
  text-align: center;
  font-size: 11px;
  padding: 2px 10px 10px 0;
}

#jobseeker-card {
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  box-shadow: 2px 2px 10px #e1e1e1;
}
#jobseeker-card:hover > #employer-card-header {
  background-color: #e63c3c;
  transition: 0.5s ease-in-out;
  color: white;
}

#jobseeker-card:hover {
  box-shadow: 7px 7px 10px 1px lightgray;
  transition: 0.3s ease-in-out;
}

/***************************************/
.devImg {
  width: 40%;
  border-radius: 8px;
}

.buttonStyleEmployer {
  padding: 8px;
  margin-top: 10px;
  background-color: #f27a7a;
  outline: none;
  border: none;
  font-size: medium;
}

.buttonStyleEmployer:hover {
  background-color: #e63c3c;
}

@media (max-width: 768px) {
}
@media (max-width: 425px) {
  .buttonStyleEmployer {
    padding: 8px;
    font-size: small;
    margin-right: 50px;
  }
  .searchboxEmployer {
    width: 60%;
    /* background-color: white; */
  }
}


/* MODAL STYLE  */

#basic-info-tag {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  /* text-decoration: underline; */
  padding-left: 40px;
}

#basic-info-value-tag {
  font-size: 12px;
  /* font-weight: bold; */
  padding-top: 3px;
  padding-left: 40px;
}

#work-exp-company {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding-left: 70px;
}

#work-exp-pos, #work-exp-tenure {
  font-size: 12px;
  padding-left: 70px;
}
/* 
#work-exp-row {
  padding-left: 10px;
} */


#send-message-form {
  padding: 20px;
  width: 100%;
}

#view-jobseeker-info-modal-form {
  border-radius: 25px;
}

#btn-send-message-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 20px;
}

#valueble-skills-list-header {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  /* padding-left: -20px; */
}

#valuable-skills-list-value {
  font-size: 12px;
  /* padding-left: 10px; */
}

#valuable-skills-list-ul {
  padding-left: 18px;
}