#tel-logo,
#select-country {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0px;
}
#footer-icons {
  height: 30px;
  width: 30px;
}

#social-media {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#social-media #twitter {
  display: flex;
  justify-content: end;
  align-items: center;
}

#middle-footer {
  background-color: #e63c3c;
  padding-bottom: 20px;
}

#footer-columns h5 {
  padding-top: 15px;
  padding-bottom: 10px;
  color: white;
}

#footer-columns p {
  margin: 0px;
}

#footer-columns p a {
  font-size: 12px;
  margin: 0px;
  color: white;
  text-decoration: none;
}

#footer-columns p a:hover {
  text-decoration: underline;
}

#copyright-footer {
  text-align: center;
  background-color: #e63c3c;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerIcons i {
  font-size: 25px;
  color: #e63c3c;
  cursor: pointer;
}
.footerIcons i:hover {
  color: red;
}

@media (max-width: 768px) {
  #footerDisplay {
    display: none;
  }
  .accordion {
    display: block;
  }
  .accordion-body,
  .accordion-button {
    font-size: 15px;
    color: white;
    background-color: #e63c3c;
  }
  .accordion-button {
    font-size: 18px;
  }
  .accordion-button:not(.collapsed) {
    background-color: #e63c3c;
    color: white;
  }
  .accordion-button:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
  .imgMobile {
    width: 50%;
  }
}
@media (max-width: 425px) {
  #footerDisplay {
    display: none;
  }
  .flexColumn {
    flex-direction: column;
  }
  .imgMobile {
    width: 100%;
  }
}
@media (min-width: 1023px) {
  #footerDisplay {
    display: block;
  }
  .accordion {
    display: none;
  }
}
