 /* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@800&family=Smooch+Sans:wght@700&display=swap"); */ */

.logo {
  height: 100vh;
  width: 100%;
  /* background-color: #ffffff; */
}
.logo::before,
.logo::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.logo::before {
  clip-path: circle(30% at right 20%);
  background-color: #e63c3c;
  z-index: -1;
}
.logo::after {
  clip-path: circle(25% at left 80%);
  background-color: #e63c3c;
  z-index: -1;
  opacity: 0.9;
}
#logo {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logo a {
  text-decoration: none;
  color: beige;
  font-size: larger;
  margin-top: 4px;
}

.logo a:hover {
  color: white;
}

form {
  border-radius: 12px;
  width: 35%;
  position: absolute;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  position: relative;
  margin: auto;
  margin-top: 150px; 
}

.employer {
  background-color: beige;
}
.employer input {
  background-color: white;
}

.logInContainer {
  width: 100%;
  margin: 2px auto;
}
.topic {
  font-size: 14px;
  letter-spacing: 2px;
}
input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  background-color: beige;
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#log-in {
  margin-top: 20px;
  outline: none;
  color: #f2f2f2;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  background: #e63c3c;
  width: 100%;
}

span {
  display: block;
  margin-left: 20px;
  color: red;
  font-style: italic;
}
.signUp,
.signUp a {
  text-align: center;
  margin-top: 20px;
  color: black;
}
.signUp a {
  font-weight: bold;
  font-size: 16px;
}

.signUp a:hover {
  color: black;
  text-decoration: underline;
}
.terms p,
.terms a {
  font-size: small;
  color: grey;
}

.terms a {
  text-decoration: underline;
}
.terms a:hover {
  color: black;
}
@media (max-width: 768px) {
  form {
    margin: auto;
    width: 55%;
  }
  .logo a {
    font-size: 20px;
  }
  .terms p,
  .terms a {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  form {
    width: 75%;
  }
  .logo a {
    font-size: 15px;
    color: black;
  }
  .topic {
    font-size: 12px;
  }
  .topic h1 {
    font-size: 20px;
  }

}
