
.links {
  color: #e63c3c;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
}

.links::after {
  content: "";
  width: 0;
  height: 2.5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #e63c3c;
  transition: width 0.3s;
}

.links:hover::after {
  width: 100%;
}

.links:hover {
  color: #e63c3c;
}


#error404-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}