* {
    box-sizing: border-box;
}

/* NAVBAR COMPONENTS */
.links {
    color: #e63c3c;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}

.links::after {
    content: "";
    width: 0;
    height: 2.5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #e63c3c;
    transition: width 0.3s;
}

.links:hover::after {
    width: 100%;
}


  /* HOME COMPONENTS */

/* ABOUT HERO  */
.home-container {
    height: 70vh;
    gap: 50px;
}

.grid {
    height: 70vh;
    padding: 1px;
    display: block;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
}

.hero-text p {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    /* margin-top: 50px;
    padding: 0px; */
}

.under {
    display: block;
}
.under::after {
    content: "p";
    background-color: #e63c3c;
    width: 10px;
    height: 5px;
}

.img-js  {
    margin-top: 100px;
    margin-left: 30px;
    height: 60%;
    width: 60%;
}

.img-js-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-title, .em-title {
    background-color: #e63c3c;
    color: white;
    line-height: 30px;
    width: 150px;
    text-align: center;
    margin-left: 0px;
    border-radius: 3px;
}

.img-em {
    height: 50%;
    width: 50%;
}

.img-em-container {
    display: flex;
    justify-content: start;
    align-items: center;
}


/* UNDER HERO  */

.under-hero {
    height: 50vh;
    /* border: 1px solid black; */
}

.card-people {
    height: 50vh;
    background-color: #e63c3c;
    display: flex;
    justify-content: center;
}

.cards {
    display: inline-block;
    /* transform: skew(0deg, 4deg); */
    margin: -50px 20px 50px 20px;
}