/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

.container-fluid {
  font-family: "Roboto", sans-serif;
}
.serviceHeading {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  color: #444444;
  background: #ffffff;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.containerInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.containerForServices {
  width: 50%;
  margin: auto;
}

.serviceTopicEmployer,
.serviceTopicEmployerRight {
  color: #e63c3c;
  font-size: 30px;
  letter-spacing: 7px;
}
.serviceTopic,
.serviceTopicRight {
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.serviceTopicRight,
.descriptionRight,
.serviceTopicEmployerRight {
  text-align: right;
}

.description,
.descriptionRight {
  color: grey;
}

@media (max-width: 768px) {
  .containerInner {
    width: 100%;
  }
  #testimonial-card-design {
    width: 23rem;
  }
}
@media (max-width: 425px) {
  .containerInner {
    width: 90%;
    flex-direction: column;
  }
  .containerForServices {
    width: 90%;
  }
}

#testimonials-card-text {
  font-size: 15px;
  font-style: italic;
  text-align: justify;
}

#testimonials-card-text::before {
  content: "''  ''";
  color: #e63c3c;
  font-size: 25px;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

#testimonials-img {
  height: 80px;
  width: 80px;
  margin-left: 50px;
}

#col-name {
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
}

#testimonial-card-design {
  box-shadow: none;
}

#testimonial-card-design:hover {
  box-shadow: 7px 7px 5px 1px lightgray;
  /* transform: scale(1.01); */
  transition: 0.3s ease-in-out;
}

.serviceTopic {
  font-size: 25px;
}
